<%- include('partials/header') %>
<section id='imgux1' style="margin-bottom: 0; padding-bottom: 3px;">   
    <div class='container'>
        <div class="imguploader" id='imgup1'>
            <img src="#" alt="" id='igt1' style='display: none;' class='imguploader_igt'>
            <span id='text1'>
                Drop Your Image Here...
            </span>
        </div>
    </div>
</section>
<div class="container" style="font-size: 2em;font-family: Solway;">
    <div class="row-lg-0" style="justify-content: center; text-align: center;">
        <div class="col-lg-9" id= 'label1' style="margin: auto;">
            Hello
        </div>
    </div>
</div>
<script src="/public/js/action.js"></script>
<%- include('partials/footer') %>